* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

main {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

div.post h1{
  color: #6e618d;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
}

div.post p{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    margin: 0.7rem;
}

div.post a {
  color: #428bca;
  text-decoration: none;
}

div.post ol {
  margin-left: 2.8rem;
}

div.post code {
  font-size: 0.9rem;
}

div.post div.sourceCode {
  margin: 0.8rem;
}

div.post pre {
  border-radius: 0.5rem;
}

