<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Abstract Nonsense - $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script defer src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="transparent">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo black-text">Abstract Nonsense</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/about.html" class="blue-text">About</a></li>
            <li><a href="/archive.html" class="blue-text">Archive</a></li>
            <li><a href="/tools.html" class="blue-text">Tools</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      $body$
    </main>
  </body>
</html>
